#top {
    margin-top: 15px;
    margin-right: 70%;
}

a {
    color: white;
    font-size: large;
}

.top-bar-title {
    flex: auto;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fredoka One', cursive;
    font-size: xxx-large;
  }

.topbar-sticky-shrink {
  /* padding: 2rem; */
  transition: padding 0.25s ease;
  background: darkslategray;
}
  
.topbar-sticky-shrink .menu {
  background: darkslategray;
}
  
.is-stuck .topbar-sticky-shrink {
  padding: 1rem;
  transition: padding 0.25s ease;
}
  
[data-sticky] {
  width: 100%;
}
  
.topbar-sticky-shrink-header {
  padding: 10rem 0;
  background: url("https://placehold.it/2000x500&text=this is a header") center center no-repeat;
  background-size: cover;
}
